+++
title = "Vine"
linkTitle = "Vine"
+++

{{< blocks/cover title="欢迎来到Vine!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		关于 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/lack-io/vine">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Vine 微服务框架文档</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Vine 基于 [go-micro](https://github.com/asim/go-micro) 开发。旨在构建一套高性能、简洁、易用的微服务框架。
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See Docsy in action!" url="/docs/examples/" %}}
你可以在这里找到你需要的实例代码，帮助你更好完成工作。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="欢迎 issue!" url="https://github.com/lack-io/vine/issues" %}}
欢迎提交[issue](https://github.com/lack-io/vine/issues) 来完善该框架。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-star" title="来个星呗!" url="https://github.com/lack-io/vine" %}}
你的激励将成功我们的动力。
{{% /blocks/feature %}}


{{< /blocks/section >}}

